@import 'define.styl';
@import 'reset.styl';
@import 'element.styl';
@import 'transition.styl';

.f-icon{
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	fill: currentColor;
	overflow: hidden;
}
.c-scroll {
  height: 100%;
  overflow: hidden;
  .c-scroll-body {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}
