@import '~@common/assets/css/define.styl';
.p-details {
	height: 100%;
	background #16112e;
	> ul:first-child {
		border-bottom: 1px solid #40385D;
		padding-left: .6rem;
		>li:nth-child(1){
			text-align: left;
		}
		li{
			display: inline-block;
			width: 23%;
			font-size: .892rem;
			text-align: center;
			color: #fff;
			height: 1.8942 rem;
			line-height: 1.8942 rem;
		}
	}
	.p-data{
		ul {
			border-bottom: 1px solid #40385D;
			padding-left: .6rem;
			li{
				display: inline-block;
				width: 23%;
				text-align: center;
				color: #fff;
				font-size: 0.75768rem;
				height: 1.6236 rem;
				line-height: 1.6236 rem;
			}
			>li:nth-child(1){
				text-align: left;
			}
			>li:nth-child(2){
				color: #ffe927;
			}
		}
	}
}
